@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lora", sans-serif;
  color: #000;
  font-weight: 300;
  line-height: 1.6; }

.heading-primary {
  font-size: 5.4rem;
  font-weight: 700;
  backface-visibility: hidden;
  /*убирает маленький рывок после анимации */ }

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem; }

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 400; }

.heading-fourth {
  font-size: 1.6rem;
  font-weight: 300; }

.btn {
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  color: #c69963;
  text-transform: uppercase; }
  .btn:hover {
    color: #fff; }
  .btn--light:hover {
    color: #191F59; }

.navigation__list {
  font-size: 1.4rem; }

.navigation__link {
  color: #0e1131;
  text-decoration: none; }
  .navigation__link:hover {
    color: #242d81; }

.header__heading-1 {
  font-style: italic;
  color: #eee; }

.header__heading-2 {
  color: #eee; }

.header__seenon-text {
  font-size: 1.4rem;
  color: #eee; }

.card__time, .card__views, .card__comments {
  font-size: 1.2rem; }
  .card__time > span, .card__views > span, .card__comments > span {
    font-size: 1.6rem;
    font-weight: 700; }

.card__header {
  font-size: 1.6rem;
  font-weight: 400; }

.card__content {
  font-size: 1.4rem; }

.card__link:visited, .card__link:link {
  text-decoration: none;
  letter-spacing: 0.2rem; }

.section-work {
  color: #191F59; }
  .section-work__heading {
    font-size: 2.8rem; }
  .section-work__link {
    color: #c69963; }
  .section-work__text {
    font-size: 5.4rem;
    font-weight: 400; }

.section-description__heading {
  font-size: 2.8rem; }
  .section-description__heading-link {
    text-decoration: none;
    color: #c69963; }

.section-description__content-heading {
  font-size: 2.8rem;
  font-weight: 700; }

.section-description__content-text {
  font-size: 2.2rem;
  font-size: 400;
  color: #333; }

.section-description__link {
  text-decoration: none; }

.section-reviews__heading-link, .section-reviews__news-link, .section-reviews__article-link, .section-reviews__partnership-link, .section-careers__link {
  text-decoration: none; }

.section-reviews__heading-header {
  font-size: 2.8rem; }

.section-reviews__heading-link {
  color: #c69963; }

.section-reviews__heading-text {
  font-size: 2.8rem;
  font-weight: 700; }

.section-reviews__news {
  font-size: 1.6rem; }
  .section-reviews__news-link {
    color: #000; }
  .section-reviews__news-name {
    font-size: 1.4rem;
    color: #777; }

.section-reviews__links > * {
  display: inline-block;
  text-decoration: none; }

.section-reviews__article-link {
  font-size: 1.4rem;
  color: #777; }

.section-reviews__partnership {
  color: #fff; }
  .section-reviews__partnership-heading {
    font-size: 1.4rem; }
  .section-reviews__partnership-text {
    font-size: 1.8rem;
    font-weight: 300; }
  .section-reviews__partnership-link {
    color: currentColor;
    font-size: 1.6rem;
    text-transform: none; }

.section-careers__heading > h2 {
  font-size: 5.4rem;
  font-weight: 400; }

.footer {
  color: #fff;
  font-size: 1.6rem; }
  .footer__notes-paragraph {
    font-size: 1.8rem; }

.u-margin-bottom-small {
  margin-bottom: .8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3.5rem !important;
  /*@include respond(tab-port) {
		margin-bottom: 3rem !important;
	}*/ }

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
  /*@include respond(tab-port) {
		margin-bottom: 5rem !important;
	}*/ }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-bottom: 8rem !important; }

/* ~~~~~~~ INIT. BTN ~~~~~~~ */
.btn {
  position: relative;
  padding: 1.6rem 2.5rem;
  padding-right: 2rem;
  outline: none;
  border: none;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-radius: .8rem;
  overflow: hidden;
  z-index: 1; }
  .btn::before, .btn::after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
    border-radius: .8rem; }
  .btn::before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 2px solid #c69963;
    border-left: 0;
    border-right: 0; }
  .btn::after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #c69963; }
  .btn:hover {
    transition-delay: .4s;
    transform: translateY(-0.8rem);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.2); }
  .btn-arrow {
    transition: margin .3s; }
  .btn:hover .btn-arrow {
    transform: translatex(0.4rem);
    margin-left: .7rem; }
  .btn:hover::before {
    left: 0;
    width: 100%;
    transition-delay: 0s; }
  .btn:hover::after {
    top: 0;
    height: 100%;
    background-color: #c69963;
    transition-delay: .2s; }
  .btn--light::before {
    border: 2px solid #F6B352;
    border-left: 0;
    border-right: 0; }
  .btn--light::after {
    background-color: #F6B352; }
  .btn--light:hover::after {
    background-color: #F6B352; }

.btn-text {
  transition: all .2s;
  position: relative; }
  .btn-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transition: 0.3s 0.001s cubic-bezier(0.54, 0.14, 0.42, 0.98) transform;
    transform-origin: right;
    transform: scaleX(0); }
  .btn-text:hover {
    border-radius: 0.3rem 0.3rem 0 0; }
    .btn-text:hover::after {
      transition: transform 0.3s 0.001s cubic-bezier(0.54, 0.14, 0.42, 0.98);
      transform-origin: left;
      transform: scaleX(1); }

.card__time, .card__views, .card__comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191F59;
  color: #fff; }

.card {
  display: grid;
  grid-template-rows: minmax(14rem, 27rem) 1fr min-content minmax(min-content, 6.5rem);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.2); }
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .card__like {
    width: 2.75rem;
    height: 2.75rem;
    margin: 1.75rem 2rem 0 0;
    cursor: pointer;
    fill: #F6B352;
    justify-self: end;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .card__header {
    background-color: #191F59;
    color: #fff;
    padding: .7rem 1rem;
    width: 100%;
    align-self: end;
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .card__content {
    padding: .7rem 1rem;
    grid-column: 1 / -1; }
  .card__link:visited, .card__link:link {
    padding: 1.6rem 2rem;
    padding-right: 1.5rem;
    justify-self: center;
    grid-column: 1 / -1; }
  .card__time {
    border-right: 1px solid #0e1131; }
  .card__views {
    border-right: 1px solid #0e1131; }

.under-line {
  position: relative; }
  .under-line:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor; }

.section-careers {
  display: grid;
  justify-items: end;
  align-items: center; }

.section-description {
  background-color: #f7f7f7;
  position: relative;
  /*%image{
		width: 100%;
		display: inline-block;
	}*/ }
  .section-description__heading {
    grid-column: col-start 3 / col-end 8; }
  .section-description__content {
    grid-column: col-start 3 / col-end 8; }
  .section-description__link {
    grid-column: col-start 3 / col-end 8; }
  .section-description__img-1 {
    display: inline-block;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    justify-self: center;
    clip-path: circle(96% at 96% 4%);
    transform: translateY(-55%); }
  .section-description__img-2 {
    grid-column: col-start 9 / -1;
    grid-row: 1 / 4;
    justify-self: end;
    align-self: center;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 50%; }
  .section-description__img-3 {
    top: 75%;
    position: absolute;
    width: 25vw;
    transform: translateX(2%); }

.footer .footer__notes-link, .footer .footer__column-name, .footer .footer__column-link {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.54, 0.14, 0.42, 0.98); }
  .footer .footer__notes-link:hover, .footer .footer__column-name:hover, .footer .footer__column-link:hover {
    opacity: .6; }

.footer__feedback {
  grid-column: col-start 1 / col-end 3;
  display: grid;
  grid-row-gap: 1.5rem; }

.footer__img {
  width: 38%; }

.footer__notes-link {
  text-decoration: underline !important; }

.footer__icons {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  /*		&:not(:last-child){
			margin-right: $right-margin;
		}*/ }

.footer__icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: #fff;
  margin-right: 2.5rem; }

.footer__revision {
  grid-column: col-start 5 / col-end 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 1.5rem; }

.footer__column {
  display: grid;
  grid-template-rows: 38%;
  grid-row-gap: 1.5rem; }
  .footer__column-name {
    font-size: 2.2rem;
    align-self: center; }
    .footer__column-name::after {
      top: 150%; }
  .footer__column-list {
    list-style: none; }

.footer__copyright {
  grid-column: col-start 5 / col-end 10;
  position: relative; }
  .footer__copyright::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: -1.6rem;
    left: 0;
    width: 100%; }

.header {
  background-image: linear-gradient(to right bottom, rgba(36, 45, 129, 0.7), rgba(14, 17, 49, 0.7)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;*/ }
  .header__text {
    grid-row: text-start / text-end;
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column; }
  .header__heading-1 {
    margin-top: 4rem;
    animation: moveInBottom .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }
  .header__heading-2 {
    align-self: flex-end;
    margin-top: -2rem;
    animation: moveInRight .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }
  .header__seenon-text {
    grid-row: logo-start / logo-end;
    grid-column: col-start 1 / col-end 10;
    justify-self: stretch;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    animation: moveInRight .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__seenon-logos {
    grid-row: logo-start / logo-end;
    grid-column: col-start 1 / col-end 10;
    justify-self: stretch;
    display: flex;
    justify-content: space-between; }
  .header__seenon-icon {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    fill: #eee;
    animation: moveInLeft .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }

.navigation {
  background-color: #fff;
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: space-between; }
  .navigation__logo {
    margin-left: 11%; }
    .navigation__logo img {
      width: 8rem; }
  .navigation__nav {
    margin-right: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__list {
    display: flex;
    margin-right: 1rem; }
  .navigation__item {
    list-style: none;
    transition: all 0.3s 0.001s cubic-bezier(0.54, 0.14, 0.42, 0.98);
    animation: moveInLeft .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }
    .navigation__item:not(:last-child) {
      margin-right: .5rem; }
    .navigation__item:hover {
      margin-top: -0.3rem; }
  .navigation__link {
    position: relative;
    padding: 1rem;
    transition: 0.3s 0.001s cubic-bezier(0.54, 0.14, 0.42, 0.98) all; }
    .navigation__link:hover {
      box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.1); }
  .navigation__search {
    cursor: pointer;
    display: flex;
    align-items: center; }
    .navigation__search-icon {
      width: 2.25rem;
      height: 2.25rem;
      fill: #0e1131;
      transition: 0.3s 0.001s cubic-bezier(0.54, 0.14, 0.42, 0.98);
      animation: moveInBottom .5s ease-out .75s;
      /*.75 задержка*/
      animation-fill-mode: backwards; }
      .navigation__search-icon:hover {
        fill: #242d81; }

.section-reviews {
  background-color: #eee; }
  .section-reviews__heading {
    grid-column: col-start 5 / col-end 10; }
  .section-reviews .section-reviews__news-item, .section-reviews .section-reviews__links-1, .section-reviews .section-reviews__links-2, .section-reviews .section-reviews__partnership-link {
    transition: all 0.2s cubic-bezier(0.54, 0.14, 0.42, 0.98); }
    .section-reviews .section-reviews__news-item:hover, .section-reviews .section-reviews__links-1:hover, .section-reviews .section-reviews__links-2:hover, .section-reviews .section-reviews__partnership-link:hover {
      opacity: .6; }
  .section-reviews__news {
    grid-column: col-start 1 / col-end 3; }
    .section-reviews__news-list {
      list-style: none;
      display: grid;
      grid-row-gap: 6rem; }
    .section-reviews__news-link {
      display: flex;
      flex-direction: column; }
  .section-reviews__links-1 {
    margin-right: 4rem;
    color: #c69963; }
  .section-reviews__links-2 {
    color: #c69963; }
  .section-reviews__articles {
    grid-column: col-start 5 / col-end 10;
    display: grid;
    grid-row-gap: 12rem; }
  .section-reviews__article {
    overflow: hidden; }
    .section-reviews__article-link {
      display: grid;
      grid-template-rows: min-content minmax(20rem, 34rem); }
      .section-reviews__article-link:hover .section-reviews__article-heading {
        background-color: #191F59;
        color: #fff; }
    .section-reviews__article-img {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 0.3rem; }
    .section-reviews__article-heading {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      background-color: #fff;
      align-self: end;
      justify-self: end;
      width: 90%;
      padding: 2rem 3rem;
      border-radius: 0.3rem;
      transform: translateY(70%);
      transition: all 0.2s cubic-bezier(0.54, 0.14, 0.42, 0.98); }
  .section-reviews__partnership {
    width: 91.1%;
    grid-column: col-start 5 / full-end;
    background-color: #191F59;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-row-gap: 1.5rem;
    padding: 3rem 4rem;
    border-radius: 0.3rem;
    transform: translateY(50%); }
    .section-reviews__partnership-heading {
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .section-reviews__partnership-text {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .section-reviews__partnership-link {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      justify-self: center;
      align-self: start; }

.section-work {
  background-color: #f7f7f7;
  padding: 7rem 0; }
  .section-work__heading {
    grid-column: center-start / center-end;
    align-self: center;
    transition: all 0.3s 0.001s cubic-bezier(0.54, 0.14, 0.42, 0.98);
    border-radius: 0.3rem 0.3rem 0 0; }
  .section-work__link {
    padding: .2rem .4rem;
    text-decoration: none; }
  .section-work__text {
    grid-column: center-start / center-end; }
  .section-work__btn {
    grid-column: center-start / center-end; }

.container .header, .container .section-description, .container .section-reviews, .container .footer {
  grid-template-columns: minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11.4rem) [col-end]) [center-end] minmax(6rem, 1fr); }

.container {
  display: grid;
  grid-template-rows: 8rem [header-start] calc(100vh - 8rem) [header-end] repeat(6, [row-start] min-content [row-end]);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] minmax(min-content, 114rem) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container .header {
    grid-row: header-start / header-end;
    grid-column: full-start / full-end;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: [text-start] minmax(max-content, 80%) [text-end logo-start] minmax(min-content, 20%) [logo-end]; }
  .container .section-work {
    grid-row: row-start 1 / row-end 1;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) [center-start] minmax(min-content, 114rem) [center-end] minmax(6rem, 1fr);
    grid-template-rows: minmax(min-content, 4.5rem);
    justify-items: start;
    grid-row-gap: 4rem; }
  .container .section-projects {
    grid-row: row-start 2 / row-end 2;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 4.5rem;
    padding: 10rem 0; }
  .container .section-description {
    grid-row: row-start 3 / row-end 3;
    grid-column: full-start / full-end;
    display: grid;
    align-items: start;
    justify-items: start;
    padding: 15rem 0; }
  .container .section-reviews {
    grid-row: row-start 4 / row-end 4;
    grid-column: full-start / full-end;
    display: grid;
    grid-column-gap: 4rem;
    grid-row-gap: 8rem;
    padding: 10rem 0;
    padding-bottom: 0; }
  .container .section-careers {
    grid-row: row-start 5 / row-end 5;
    grid-column: center-start / center-end;
    padding: 10rem 0;
    padding-top: 25rem; }
  .container .footer {
    grid-row: row-start 6 / row-end 6;
    grid-column: full-start / full-end;
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 12rem;
    padding: 5rem 0;
    background-color: #222; }
