@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lora", sans-serif;
  color: #000;
  font-weight: 300;
  line-height: 1.6; }

.heading-primary {
  font-size: 3.5rem;
  font-weight: 700;
  backface-visibility: hidden;
  /*убирает маленький рывок после анимации */ }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem;
  transition: all .2s; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.header__seenon-text {
  font-size: 1.4rem; }

/* ~~~~~~~ INIT. BTN ~~~~~~~ */
.btn {
  position: relative;
  padding: 1.6rem 2.5rem;
  padding-right: 2rem;
  font-size: 1.6rem;
  letter-spacing: .4rem;
  outline: none;
  border: none;
  color: #333;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-radius: .8rem;
  overflow: hidden;
  z-index: 1; }
  .btn::before, .btn::after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
    border-radius: .8rem;
    opacity: .95; }
  .btn::before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 2px solid #c69963;
    border-left: 0;
    border-right: 0; }
  .btn::after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #c69963; }
  .btn:hover {
    color: #191F59;
    transition-delay: .4s;
    transform: translateY(-0.8rem);
    box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.4); }
  .btn-arrow {
    transition: all .3s; }
  .btn:hover .btn-arrow {
    margin-left: .7rem; }
  .btn:hover::before {
    left: 0;
    width: 100%;
    transition-delay: 0s; }
  .btn:hover::after {
    top: 0;
    height: 100%;
    background-color: #c69963;
    transition-delay: .2s; }
  .btn--light::before {
    border: 2px solid #F6B352;
    border-left: 0;
    border-right: 0; }
  .btn--light::after {
    background-color: #F6B352; }
  .btn--light:hover::after {
    background-color: #F6B352; }

.card__time, .card__views, .card__comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191F59;
  color: #fff;
  font-size: 1.2rem; }
  .card__time > span, .card__views > span, .card__comments > span {
    font-size: 1.6rem;
    font-weight: 600; }

.card {
  display: grid;
  grid-template-rows: minmax(min-content, 27rem) 1fr min-content minmax(min-content, 6.5rem);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.4); }
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .card__like {
    width: 2.75rem;
    height: 2.75rem;
    margin: 1.75rem 2rem 0 0;
    cursor: pointer;
    fill: #F6B352;
    justify-self: end;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .card__header {
    font-size: 1.6rem;
    background-color: #191F59;
    color: #fff;
    font-weight: 400;
    padding: .7rem 1rem;
    width: 100%;
    align-self: end;
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .card__content {
    font-size: 1.4rem;
    padding: .7rem 1rem;
    grid-column: 1 / -1; }
  .card__link:visited, .card__link:link {
    text-decoration: none;
    padding: 1.6rem 2rem;
    padding-right: 1.5rem;
    letter-spacing: .2rem;
    justify-self: center;
    grid-column: 1 / -1; }

.header {
  background-image: linear-gradient(to right bottom, rgba(36, 45, 129, 0.7), rgba(14, 17, 49, 0.7)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
  align-items: center;
  /*display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;*/ }
  .header__text {
    grid-row: text-start / text-end;
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column; }
  .header__heading-1 {
    font-size: 5.4rem;
    font-weight: 700;
    font-style: italic;
    margin-top: 4rem;
    color: #eee;
    animation: moveInBottom .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }
  .header__heading-2 {
    align-self: flex-end;
    margin-top: -2rem;
    color: #eee;
    animation: moveInRight .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }
  .header__seenon-text {
    grid-row: logo-start / logo-end;
    grid-column: col-start 1 / col-end 10;
    justify-self: stretch;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    color: #eee;
    animation: moveInRight .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__seenon-logos {
    grid-row: logo-start / logo-end;
    grid-column: col-start 1 / col-end 10;
    justify-self: stretch;
    display: flex;
    justify-content: space-between; }
  .header__seenon-icon {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    fill: #eee;
    animation: moveInLeft .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }

.navigation {
  background-color: #fff;
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: space-between; }
  .navigation__logo {
    margin-left: 11%; }
    .navigation__logo img {
      width: 8rem; }
  .navigation__nav {
    margin-right: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__list {
    display: flex;
    font-size: 1.5rem;
    margin-right: 1rem; }
  .navigation__item {
    list-style: none;
    transition: all .2s;
    animation: moveInLeft .5s ease-out .75s;
    /*.75 задержка*/
    animation-fill-mode: backwards; }
    .navigation__item:not(:last-child) {
      margin-right: .5rem; }
    .navigation__item:hover {
      margin-top: -.2rem; }
  .navigation__link {
    text-decoration: none;
    color: #0e1131;
    position: relative;
    padding: 1rem;
    transition: .2s all; }
    .navigation__link:hover {
      border-radius: 3px;
      color: #242d81;
      box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.1); }
    .navigation__link::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 2px;
      width: 0;
      background-color: #c69963;
      transition: 0.2s all cubic-bezier(0.54, 0.14, 0.42, 0.98); }
    .navigation__link:hover::after {
      width: 100%; }
  .navigation__search {
    cursor: pointer;
    display: flex;
    align-items: center; }
    .navigation__search-icon {
      width: 2.25rem;
      height: 2.25rem;
      fill: #0e1131;
      transition: 0.2s all cubic-bezier(0.54, 0.14, 0.42, 0.98);
      animation: moveInBottom .5s ease-out .75s;
      /*.75 задержка*/
      animation-fill-mode: backwards; }
      .navigation__search-icon:hover {
        fill: #242d81; }

.section-projects {
  margin: 10rem 0; }
  .section-projects__card-link {
    text-decoration: none; }

.section-work {
  background-color: #f7f7f7;
  color: #191F59;
  padding: 7rem 0; }
  .section-work__heading {
    font-size: 2.4rem;
    color: #c69963;
    grid-column: center-start / center-end; }
  .section-work__text {
    font-size: 4.8rem;
    font-weight: 400;
    grid-column: center-start / center-end; }
  .section-work__btn {
    grid-column: center-start / center-end; }

.container {
  display: grid;
  grid-template-rows: 8rem [header-start] calc(100vh - 8rem) [header-end work-start] min-content [work-end projects-start] min-content [projects-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11.4rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  margin-bottom: 100vh; }
  .container .header {
    grid-row: header-start / header-end;
    grid-column: full-start / full-end;
    grid-template-columns: minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11.4rem) [col-end]) [center-end] minmax(6rem, 1fr);
    grid-template-rows: [text-start] minmax(max-content, 80%) [text-end logo-start] minmax(min-content, 20%) [logo-end]; }
  .container .section-work {
    grid-row: work-start / work-end;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) [center-start] minmax(min-content, 114rem) [center-end] minmax(6rem, 1fr);
    justify-items: start;
    grid-row-gap: 3rem; }
  .container .section-projects {
    grid-row: projects-start / projects-end;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 4.5rem; }
