$color-primary:  #c69963;
$color-primary-light: #F6B352;
$color-primary-dark: #B28451;

$color-secondary:  #191F59;
$color-secondary-light: lighten( #191F59, 10%);
$color-secondary-dark: darken( #191F59, 10%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-white: #fff;
$color-black: #000;


// FONT VARIABLES
$font-primary: 'Lora', sans-serif;


// FONT SIZES
$smallest-font-size: 1.2rem;
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$default-font-size-2: 1.8rem;
$medium-font-size: 2.2rem;
$large-font-size: 2.8rem;
$largest-font-size: 5.4rem;
$largest-font-size-1: 4.8rem;
$largest-font-size-2: 4.4rem;
$largest-font-size-3: 4rem;
$largest-font-size-4: 3.2rem;

//FONT WEIGHTS
$smallest-font-weight: 300;
$small-font-weight: 400;
$medium-font-weight: 700;

//LETTER SPACING
$small-letter-space: .2rem;
$medium-letter-space: .4rem;

//Border-radius
$border-radius-primary: .3rem;

//DEFAULT SHADOW
$primary-shadow: 4px 10px 10px rgba($color-black, .2);
$primary-shadow-light: 2px 7px 5px rgba($color-black, .1);

//Grid gap
$small-row-gap: 1.5rem;
$row-gap: 4rem;
$medium-row-gap: 6rem;
$big-row-gap: 8rem;
$large-row-gap: 12rem;


$smallest-column-gap: .5rem;
$small-column-gap: 1.5rem;
$column-gap: 4rem;
$medium-column-gap: 6rem;
$big-column-gap: 8rem;
$large-column-gap: 12rem;

$card-gap: 4.5rem;


//TRANSITION
$slow-main-transition: .8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
$main-transition: .3s .001s cubic-bezier(.54,.14,.42,.98);
$faster-main-transition: .2s cubic-bezier(.54,.14,.42,.98);

//HOVER BTN TOP MOVE
$top-btn-move: -.3rem;


//Sections padding
$section-padding-small: 5rem 0;
$section-padding: 10rem 0;
$section-padding-medium: 15rem 0;

//Article heading padding
$article-heading-padding: 2rem 3rem;
$partnership-heading-padding: 3rem 4rem;

// MARGINS
$smallest-right-margin: .3rem;
$small-right-margin: 1.5rem;
$right-margin: 2.5rem;

$margin-bottom: 2rem;


// RESPONCIVE Grid column names
$medium-grid-column: col-start 3 / col-end 8;
$big-grid-column: col-start 2 / col-end 9;


// RESPONSIVE BREAKPOINTS
$bp-0: 125em; // 2000px
$bp-1: 87.5em; // 1400px
$bp-2: 81.25em; // 1300px
$bp-3: 68.75em; // 1100px
$bp-4: 62.5em; // 1000px
$bp-5: 56.25em; // 900px
$bp-6: 53.125em; // 850px
$bp-7: 43.75em; // 700px
$bp-8: 37.5em; //600px
$bp-9: 31.25em; //500px