$color-primary: #042f4b;
$color-primary-light: lighten(#042f4b, 10%);
$color-primary-dark: darken(#042f4b, 10%);

$color-secondary: #fff6da;
$color-primary-light: lighten(#fff6da, 10%);
$color-primary-dark: darken(#fff6da, 10%);

$color-teritary: #fbc99d;
$color-primary-light: lighten(#fbc99d, 10%);
$color-primary-dark: darken(#fbc99d, 10%);

$color-extra: #ed1250;
$color-primary-light: lighten(#fff6da, 10%);
$color-primary-dark: darken(#fff6da, 10%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//Border-radius
$border-radius-primary: 3px;

// FONT VARIABLES
$font-primary: 'Lora', sans-serif;