$color-primary:  #c69963;
$color-primary-light: #F6B352;
$color-primary-dark: #B28451;

$color-secondary:  #191F59;
$color-secondary-light: lighten( #191F59, 10%);
$color-secondary-dark: darken( #191F59, 10%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$smallest-font-size: 1.2rem;
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 2.4rem;
$largest-font-size: 4.8rem;

//Border-radius
$border-radius-primary: 3px;

// FONT VARIABLES
$font-primary: 'Lora', sans-serif;

//DEFAULT SHADOW
$primary-shadow: 4px 7px 7px rgba($color-black, .4);
$primary-shadow-light: 2px 7px 5px rgba($color-black, .1);

//Grid gap
$row-gap: 3rem;
$card-gap: 4.5rem;
