.section-careers{

	&__content{
		grid-column: center-start / center-end;

		display: grid;
		justify-items: end;
		align-items: center;
		grid-row-gap: $small-row-gap;

		@include careers-responsive-breakpoint;
	}
	

	&__link{
		@media only screen and (max-width: $bp-6) {
			justify-self: start;
		}
	}
}