.header{
	background-image: linear-gradient(to right bottom, 
		rgba($color-secondary-light, 0.7),
		rgba($color-secondary-dark, 0.7)), url(../img/header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	//parallax
	background-attachment: fixed;
	
	display: grid;
	justify-items: center;
	align-items: center;

	//centering content in the header
	/*display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;*/

	&__text{
		//margin-top: -8rem;
		grid-row: text-start / text-end;
		grid-column: center-start / center-end;
		display: flex;
		flex-direction: column;
	}

	&__heading-1{
		margin-top: 4rem;
		//margin-left: 10%;

	//animation appear from bottom
	animation: moveInBottom .5s ease-out .75s; /*.75 задержка*/
		animation-fill-mode: backwards; 


	}

	&__heading-2{
		align-self: flex-end;
		//margin-right: 10%;
		margin-top: -2rem;
	//animation appear from right
	animation: moveInRight .5s ease-out .75s; /*.75 задержка*/
		animation-fill-mode: backwards; 
	}

	&__seenon-text{
		grid-row: logo-start / logo-end;
		grid-column: col-start 1 / col-end 10;
		
		justify-self: stretch;
		align-self: start;

		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		grid-column-gap: 1.5rem;
		align-items: center;

		//animation appear from bottom
	animation: moveInRight .5s ease-out .75s; /*.75 задержка*/
		animation-fill-mode: backwards; 

		&::before,
		&::after{
			content: "";
			height: 1px;
			display: block;
			background-color: currentColor;
		}
	}

	&__seenon-logos{
		grid-row: logo-start / logo-end;
		grid-column: col-start 1 / col-end 10;
		
		justify-self: stretch;

		display: flex;
		justify-content: space-between;
		
	}

	&__seenon-icon{
		display: inline-block;
		width: 8rem;
		height: 8rem;
		fill: $color-grey-light-2;

		//animation appear from left
		animation: moveInLeft .5s ease-out .75s; /*.75 задержка*/
		animation-fill-mode: backwards; 
	}
}