.navigation{
	background-color: $color-white;
	position: fixed;
		
	z-index: 10000;

	width: 100vw;
	height: 8rem;

	display: flex;
	justify-content: space-between;

	

	&__logo{
		img{
			width: 8rem;
		}
		margin-left: 11%;
	}

	&__nav{
		margin-right: 11%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__list{
		display: flex;
		margin-right: 1rem;
		//border: 1px solid red;
	}

	&__item{
		list-style: none;
		transition: all $main-transition;

		&:not(:last-child){
			margin-right: .5rem;
		}

		&:hover{
			margin-top: $top-btn-move;
		}

		//animation appear from left
		animation: moveInLeft .5s ease-out .75s; /*.75 задержка*/
		animation-fill-mode: backwards; 
	}

	&__link{
		position: relative;

		padding: 1rem;	
		transition: $main-transition all;

//Hover effect for links
		&:hover{
			box-shadow: $primary-shadow-light;
		}
	}

//style icon
	&__search{
		
		cursor: pointer;
		display: flex;
		align-items: center;

		&-icon{
			width: 2.25rem;
			height: 2.25rem;
			fill: $color-secondary-dark;	
			transition: $main-transition;

			&:hover{
				fill: $color-secondary-light;
			}

			//animation appear from left
			animation: moveInBottom .5s ease-out .75s; /*.75 задержка*/
			animation-fill-mode: backwards; 
		}
	}
}