.navigation{
	background-color: $color-secondary;
	display: grid;
	grid-template-rows: 7rem;
	grid-template-columns: 1fr max-content 1fr min-content 1fr;

	&__logo{
		grid-column: 2 / 3;
		width: 60%;
		height: 110%;
	}

	&__nav{
		grid-column: 4 / 5;
	}
	
	&__list{
		display: flex;
		font-size: 1.8rem;
	}

	&__item{
		list-style: none;
	}

	&__link{
		text-decoration: none;
		color: $color-primary;
	}

	&__search{

	}

}