.section-reviews{
	background-color: $color-grey-light-2;

//heading part
	&__heading{
		grid-column: col-start 5 / col-end 10;	
	
		&-header{

		}

		&-link{

		}

		&-text{

		}
	}	


//news part	
%hover-news-animation{
	transition: all $faster-main-transition;
			&:hover{
				opacity: .6;
			}
}
	&__news{
		grid-column: col-start 1 / col-end 3;

		&-list{
		list-style: none;

		display: grid;
		grid-row-gap: $medium-row-gap;
		}

		&-item{
			@extend %hover-news-animation;
		}

		&-link{
			display: flex;
			flex-direction: column;
		}

		&-name{
			//margin-bottom: 1.8rem;
		}
	}

	&__links{
		


		&-1{
			@extend %hover-news-animation;
			margin-right: $row-gap;
			color: $color-primary;
		}

		&-2{
			@extend %hover-news-animation;
			color: $color-primary;
		}
	}

//Articles part
	&__articles{
		grid-column: col-start 5 / col-end 10;

		display: grid;
		grid-row-gap: $large-row-gap;
	}

	&__article{
			overflow: hidden;
		&-1{
			
		}
		
		&-2{

		}

		&-link{
			display: grid;
			grid-template-rows: min-content minmax(20rem, 34rem);

			&:hover .section-reviews__article-heading{
				background-color: $color-secondary;
				color: $color-white;
			}
		}

		&-img{	
				grid-row: 2 / 3;
				grid-column: 1 / 2;
				height: 100%;
				width: 100%;
				object-fit: cover;

				border-radius: $border-radius-primary;
		}

		&-heading{
			grid-row: 2 / 3;
			grid-column: 1 / 2;

			background-color: $color-white;
			align-self: end;
			justify-self: end;

			width: 90%;
			padding: $article-heading-padding;

			border-radius: $border-radius-primary;

			transform: translateY(70%);
			transition: all $faster-main-transition;

		}
	}

	&__partnership{
		background-color: $color-secondary;
		justify-self: end;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		grid-row-gap: $small-row-gap;

		padding: $partnership-heading-padding;

		width: 90%;

			&-heading{
				grid-row: 1 / 2;
				grid-column: 1 / 2;
			}

			&-text{
				grid-row: 2 / 3;
				grid-column: 1 / 2;
			}

			&-link{
				grid-row: 2 / 3;
				grid-column: 2 / 3;
				justify-self: center;
				align-self: start;
				@extend %hover-news-animation;
			}
	}
}