.section-work{
	background-color: $color-grey-light-1;
	color: $color-secondary;
	padding: 7rem 0;

	&__heading{
		font-size: $large-font-size;
		color: $color-primary;
		grid-column: center-start / center-end;
	}

	&__text{
		font-size: $largest-font-size;
		font-weight: 400;
		grid-column: center-start / center-end;
	}

	&__btn{
		grid-column: center-start / center-end;
	}


}