/* ~~~~~~~ INIT. BTN ~~~~~~~ */

.btn {    
  position: relative; 
  padding: 1.6rem 2.5rem;
  padding-right: 2rem;
  outline: none;
  border: none;
  transition: all .4s cubic-bezier(0.77, 0, 0.175, 1);  
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-radius: .8rem;
  overflow: hidden;
  z-index: 1;


  &::before,
  &::after{
    content: "";
    position: absolute; 
    transition: inherit;
    z-index: -1;
    border-radius: .8rem;
  }

  &::before{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid $color-primary;
    border-left: 0;
    border-right: 0;
  }

  &::after{
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: $color-primary;
  }
  
  &:hover{
    transition-delay: .1s;
    transform: translateY(-.8rem);
    box-shadow: $primary-shadow;
  }

  &-arrow{
    transition: margin .3s;
  }

  &:hover &-arrow{
    //transition-delay: .4s;
    transform: translatex(.4rem);
    margin-left: .7rem;
  }

  /*&:hover::before{ 
    left: 0;
    width: 100%;
    transition-delay: 0s;
  }*/

  &:hover::after{
    top: 0;
    height: 100%;
    background-color: $color-primary;
   // transition-delay: .2s;
  }

  &--light{

    &::before{
      border: 2px solid $color-primary-light;
      border-left: 0;
      border-right: 0;
    }

    &::after{
      background-color: $color-primary-light;
    }

    &:hover::after{
      background-color: $color-primary-light;
    }
  }
}


//////////////////////BTN TEXT
.btn-text{
    transition: all .2s;
    position: relative;

//Bottom border animation effect
    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: currentColor;
        transition: $main-transition transform;
        transform-origin: right;
        transform: scaleX(0);
      }

//Hover effect for links
    &:hover{
      border-radius: $border-radius-primary $border-radius-primary 0 0;

      &::after{
        transition: transform $main-transition;
        transform-origin: left;
        transform: scaleX(1);
      }
    }

  
  }