*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px / 16px = 62.5% -> 10px= 1rem;

	overflow-x: hidden;

	@media only screen and (max-width: $bp-2) {
		font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%;
	}

	@media only screen and (max-width: $bp-3) {
		font-size: 50%; //i want here 1 rem to be 8 px, 8/16 = 50%;
	}
}
