body{
	font-family: $font-primary;
	color: $color-black;
	font-weight: $smallest-font-weight;
	line-height: 1.6;
}

//Headers and paragraphs styling
.heading-primary{
	font-size: $largest-font-size;
	font-weight: $medium-font-weight;
	backface-visibility: hidden; /*убирает маленький рывок после анимации */
}

.heading-secondary{
	font-size: $large-font-size;
	font-weight: $small-font-weight;
	letter-spacing: $small-letter-space;
}

.heading-tertiary {
	font-size: $medium-font-size;
	font-weight: $small-font-weight;
}

.heading-fourth {
	font-size: $default-font-size;
	font-weight: $smallest-font-weight;
}

//////////////////////////////////BTN SIZES AND STYLE/////////////////////////////
.btn {
	font-size: $default-font-size;
	letter-spacing: $medium-letter-space;
	color: $color-primary;
	text-transform: uppercase;

	&:hover{
		color: $color-white;
	}

	&--light{
	    &:hover{
	      color: $color-secondary;
	    }
	}
}

//////////////////////////////////NAVIGATION SIZES AND STYLE/////////////////////////////
.navigation{
	&__list{
		font-size: $small-font-size;
		//border: 1px solid red;
	}

		&__link{
			color: $color-secondary-dark;
			text-decoration: none;

			&:hover{
				color: $color-secondary-light;
			}
		}

}


//////////////////////////////////HEADER TEXT SIZES AND STYLE/////////////////////////////
.header{
	&__heading-1{
		font-style: italic;
		color: $color-grey-light-2;

		@media only screen and (max-width: $bp-4) {
			font-size: $largest-font-size-1;
		}

		@media only screen and (max-width: $bp-6) {
			font-size: $largest-font-size-2;
		}
	}

	&__heading-2{
		color: $color-grey-light-2;
	}

	&__seenon-text{
		font-size: $small-font-size;
		color: $color-grey-light-2;
	}
}


//////////////////////////////////WORK SECTION TEXT SIZES AND STYLE/////////////////////////////
.section-work{
	color: $color-secondary;

	&__heading{
		font-size: $large-font-size;		
	}

	&__link{
		color: $color-primary;
	}

	&__text{
		font-size: $largest-font-size;
		font-weight: $small-font-weight;

		@media only screen and (max-width: $bp-4) {
			font-size: $largest-font-size-1;
		}

		@media only screen and (max-width: $bp-6) {
			font-size: $largest-font-size-2;
		}
	}

	&__btn{
	}
}


//////////////////////////////////CARD TEXT SIZES AND STYLE/////////////////////////////
%heading{
	font-size: $smallest-font-size;

	& > span{
		font-size: $default-font-size;
		font-weight: $medium-font-weight;
	}
}

.card{
	&__header{	
		font-size: $default-font-size;
		font-weight: $small-font-weight;
	}

	&__content{
		font-size: $small-font-size;
	}

	&__link:visited,
	&__link:link{
		text-decoration: none;
		letter-spacing: $small-letter-space;
	}

	&__time{
		@extend %heading;		
	}

	&__views{
		@extend %heading;
	}

	&__comments{
		@extend %heading;
	}
}

//////////////////////////////////DESCRIPTION SECTION TEXT SIZES AND STYLE/////////////////////////////
.section-description{

	&__heading{
		font-size: $large-font-size;


		&-link{
			text-decoration: none;
			color: $color-primary
		}
	}

	&__content{

		&-heading{
			font-size: $large-font-size;
			font-weight: $medium-font-weight;
		}

		&-text{
			font-size: $medium-font-size;
			font-size: $small-font-weight;
			color: $color-grey-dark-3;
		}
	}

	&__link{
		text-decoration: none;
	}
}


//////////////////////////////////DESCRIPTION SECTION TEXT SIZES AND STYLE/////////////////////////////
%links{
	text-decoration: none;
}

.section-reviews{

//heading part
	&__heading{

		&-header{
			font-size: $large-font-size;

		}

		&-link{
			@extend %links;
			color: $color-primary;
		}

		&-text{
			font-size: $large-font-size;
			font-weight: $small-font-weight;
		}
	}
//news part	
	&__news{
		font-size: $default-font-size;

		&-link{
			@extend %links;
			color: $color-black;
		}

		&-name{
			font-size: $small-font-size;
			color: $color-grey-dark;
		}
	}

	&__links{

		& > *{
			display: inline-block;
			text-decoration: none;
		}
	}

//Articles part

	&__article{

		&-link{
			@extend %links;
			font-size: $small-font-size;
			color: $color-grey-dark;
		}
	}

	&__partnership{
		color: $color-white;

		&-heading{
			font-size: $small-font-size;
		}

		&-text{
			font-size: $default-font-size-2;
			font-weight: $smallest-font-weight;
		}

		&-link{
			@extend %links;
			color: currentColor;
			font-size: $default-font-size;
			text-transform: none;
		}
	}
}


//////////////////////////////////CAREERS SECTION TEXT SIZES AND STYLE/////////////////////////////
.section-careers{

	&__heading{
		& > h2{
			font-size: $largest-font-size;
			font-weight: $small-font-weight;

			@media only screen and (max-width: $bp-6) {
				font-size: $largest-font-size-1;
			}
		}
		
	}

	&__link{
		@extend %links;
	}
}


//////////////////////////////////CAREERS SECTION TEXT SIZES AND STYLE/////////////////////////////
.footer{
	color: $color-white;
	font-size: $default-font-size;

	&__notes{
		
		&-paragraph{
			font-size: $default-font-size-2;
		}
	}
}