%main-grid-columns{
	grid-template-columns: minmax(6rem, 1fr) [center-start]
						   repeat(10, [col-start] minmax(min-content, 11.4rem)
						   [col-end]) [center-end] minmax(6rem, 1fr);
}


.container{
	display: grid;
	grid-template-rows: 8rem [header-start] calc(100vh - 8rem) [header-end] repeat(6, [row-start] min-content [row-end]);
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
						   minmax(min-content, 114rem) [center-end] minmax(6rem, 1fr) [full-end]; 
	//margin-bottom: 100vh;

	.header{
		grid-row: header-start / header-end;
		grid-column: full-start / full-end;

		display: grid;
		@extend %main-grid-columns;
		justify-items: center;
		align-items: center;
		grid-template-rows: [text-start] minmax(max-content, 80%) [text-end logo-start] minmax(min-content, 20%) [logo-end];
	}

	.section-work{
		grid-row: row-start 1 / row-end 1;
		grid-column: full-start / full-end;

		display: grid;
		grid-template-columns: minmax(6rem, 1fr) [center-start] minmax(min-content, 114rem) [center-end] minmax(6rem, 1fr);
		grid-template-rows: minmax(min-content, 4.5rem);

		justify-items: start;
		grid-row-gap: $row-gap;
	}

	.section-projects{
		grid-row: row-start 2 / row-end 2;
		grid-column: center-start / center-end;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
		grid-gap: $card-gap;

		padding: $section-padding;
	}

	.section-description{
		grid-row: row-start 3 / row-end 3;
		grid-column: full-start / full-end;

		display: grid;
		@extend %main-grid-columns;
		align-items: start;
		justify-items: start;

		padding: $section-padding-medium;
	}

	.section-reviews{
		grid-row: row-start 4 / row-end 4;
		grid-column: full-start / full-end;

		display: grid;
		@extend %main-grid-columns;
		grid-column-gap: $column-gap;
		grid-row-gap: $big-row-gap;
		padding: $section-padding;
		padding-bottom: 0;
	}

	.section-careers{
		grid-row: row-start 5 / row-end 5;
		grid-column: center-start / center-end;

		padding: $section-padding;
		padding-top: 25rem;
	}

	.footer{
		grid-row: row-start 6 / row-end 6;
		grid-column: full-start / full-end;

		display: grid;
		@extend %main-grid-columns;

		grid-column-gap: $small-column-gap;
		grid-row-gap: $large-row-gap;

		padding: $section-padding-small;

		background-color: $color-grey-dark-4;
	}
}