.container{
	display: grid;
	grid-template-rows: 8rem [header-start] calc(100vh - 8rem) [header-end work-start] min-content [work-end];
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
						   repeat(10, [col-start] minmax(min-content, 11.4rem)
						   [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
	margin-bottom: 100vh;

	.header{
		grid-row: header-start / header-end;
		grid-column: full-start / full-end;
	}

	.section-work{
		grid-row: work-start / work-end;
		grid-column: full-start / full-end;

		display: grid;
		grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
						   repeat(10, [col-start] minmax(min-content, 11.4rem)
						   [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
		grid-row-gap: $row-gap;
	}
}